.jobTitle {
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

.singleJobPage {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.singleJobPage > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}