.jobDetails {
  width: calc(100% - 260px);
  height: 100%;
  overflow: auto;
  padding: 20px;
  margin-left: 20px;
  background-color: #d0d0d0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.jobDetails p {
  color: #666;
  margin-bottom: 36px;
  font-size: 1.25em;
}

.jobDetails p:last-child {
  margin-bottom: 0;
}