.jobList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 40px);
  margin: 20px;
  padding: 20px;
  text-decoration: none;
}

.jobItem {
  padding: 20px;
  margin: 10px;
  width: calc(50% - 20px);
  max-width: 640px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
}

.jobItem a {
  text-decoration: none;
}

.jobItem h2 {
  border-bottom: 1px solid;
  font-size: 2.25em;
  font-weight: 600;
}

.jobItem p {
  text-align: left;
  margin-bottom: 36px;
}

.jobItem, .jobItem p {
  transition: .15s ease-in-out;
}

@media screen and (max-width:1064px) {
  .jobList {
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .jobItem {
    width: 100%;
  }
}