.applyForm, form {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.applyForm label, form label {
  margin: 10px 0 2px;
  width: 100%;
}

.applyForm input, form input {
  padding: 5px;
  width: 100%;
}

.applyForm input[type="submit"] {
  margin-top: 24px;
  padding: 6px 18px;
  width: max-content;
}